/* --Region Selection Page-- */

#wrap {
  width: 100%;
  height: 100%;
  min-height: 500px;
  /* 320px */
  margin: 0 auto;
  margin-bottom: 5rem;
  /* border: 4px solid #000; */
}
body {
  min-width: 320px;
  max-width: 680px;
  min-height: 100%;
  margin: 0 auto;
  padding: 15px 15px 60px 15px;
}
a {
  text-decoration: none;
}
a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}

/* toolbar */
#toolbar {
  background: white;
  width: 100%;
  height: 50px;
  display: flex;
  border-bottom: solid 2px #e1e1e1;
}
#toolbar div {
  flex: 1;
  margin-bottom: 0px;
  display: inline;
}
#toolbar .RS-close {
  width: 100%;
  height: 100%;
  flex: 1;
  min-width: 24px;
  min-height: 24px;
  font-size: 15px;
  padding: 0 5% 0 5%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  outline: none;
}
#toolbar .SP-search {
  width: 100%;
  height: 100%;
  flex: 8;
  min-width: 24px;
  min-height: 24px;
  font-size: 15px;
  padding: 0 5% 0 5%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  outline: none;
}
#toolbar .RS-close img {
  align-items: center;
}
#toolbar .TS-close-1 {
  min-width: 24px;
  min-height: 24px;
  transform: translate(0%, 25%);
}
#toolbar .TS-close-2 {
  min-width: 24px;
  min-height: 24px;
  font-size: 80%;
  text-align: center;
  transform: translate(0%, 30%);
  font-weight: bold;
}
/* Time Sale Page Toolbar */
#toolbar .toolbar-1 {
  min-width: 24px;
  min-height: 24px;
  text-align: left;
  transform: translate(0%, 25%);
}
#toolbar .toolbar-2 {
  flex: 3;
  text-align: center;
  font-size: 100%;
  transform: translate(0%, 25%);
}

/* Bottom Menu Bar */
.allWrap {
  width: 100%;
  margin: 0 auto;
}
.tabBox {
  margin: 0 auto;
  display: flex;
}
.tab-link {
  width: 50%;
  display: inline-block;
  padding: 3%;
  text-align: center;
  background-color: transparent;
  color: #eeeeee;
  cursor: pointer;
  margin: 0;
  border-bottom: solid 3px #e1e1e1;
}
.tab-link.current {
  background-color: transparent;
  color: #00d1c4;
  font-weight: 600;
  border-bottom: solid 3px #00d1c4;
}
.tab-content {
  display: none;
}
.tab-content.current {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 130px;
  margin-bottom: 3%;
}
.tab-content.current .content {
  display: flex;
  width: 100%;
}
.tab-content.current .content :nth-child(1) {
  flex: 2;
  padding: 3%;
  width: 100%;
  height: auto;
}
.tab-content.current .content :nth-child(2) {
  flex: 3.5;
  padding: 3%;
  width: 100%;
  height: auto;
}

/* food type queri */
@media (min-width: 280px) {
  /* Galaxy Fold */
  #tab-1 > div > div.content-1 > a > img {
    min-width: 108px;
    min-height: 108px;
  }
  #time-sale-menu > div.TS-content > div > div.content-1 > img {
    min-width: 108px;
    min-height: 108px;
  }
}
@media (min-width: 320px) {
  /* iPhone 5/SE */
  #tab-1 > div > div.content-1 > a > img {
    min-width: 108px;
    min-height: 108px;
  }
  #time-sale-menu > div.TS-content > div > div.content-1 > img {
    min-width: 108px;
    min-height: 108px;
  }
}
@media (min-width: 375px) {
  /* iPhone X */
  #tab-1 > div > div.content-1 > a > img {
    min-width: 116px;
    min-height: 116px;
  }
  #time-sale-menu > div.TS-content > div > div.content-1 > img {
    min-width: 116px;
    min-height: 116px;
  }
}
@media (min-width: 414px) {
  /* iPhone 6/7/8 Plus */
  #tab-1 > div > div.content-1 > a > img {
    min-width: 130px;
    min-height: 130px;
  }
  #time-sale-menu > div.TS-content > div > div.content-1 > img {
    min-width: 130px;
    min-height: 130px;
  }
}
@media (min-width: 520px) {
  /* Surface Duo */
  #tab-1 > div > div.content-1 > a > img {
    min-width: 166px;
    min-height: 166px;
  }
  #time-sale-menu > div.TS-content > div > div.content-1 > img {
    min-width: 166px;
    min-height: 166px;
  }
}
@media (min-width: 600px) {
  #tab-1 > div > div.content-1 > a > img {
    min-width: 192px;
    min-height: 192px;
  }
  #time-sale-menu > div.TS-content > div > div.content-1 > img {
    min-width: 192px;
    min-height: 192px;
  }
}
@media (min-width: 768px) {
  /* ipad */
  #tab-1 > div > div.content-1 > a > img {
    min-width: 230px;
    min-height: 230px;
  }
  #time-sale-menu > div.TS-content > div > div.content-1 > img {
    width: 230px;
    height: 230px;
  }
}
/* like heart queri */
@media (min-width: 414px) {
  #tab-1 > .content > .content-1 > .like-heart-btn > .like-heart {
    flex: 3.5;
    padding: 3%;
    padding-top: 6%;
    width: 100%;
    height: auto;
  }
}
@media (min-width: 515px) {
  #tab-1 > .content > .content-1 > .like-heart-btn > .like-heart {
    flex: 3.5;
    padding: 12%;
    padding-top: 16%;
    width: 100%;
    height: auto;
  }
}
/* time sale content2 p tag 크기 */
@media (min-width: 414px) {
  #tab-1 > .content > .content-2 p {
    line-height: 1.4;
    padding: auto;
    font-size: 90%;
  }
  #tab-2 > .content > .content-2 p {
    line-height: 1.4;
    padding: auto;
    font-size: 90%;
  }
}
@media (min-width: 500px) {
  #tab-1 > .content > .content-2 p {
    line-height: 1.6;
    padding: auto;
    font-size: 100%;
  }
  #tab-2 > .content > .content-2 p {
    line-height: 1.6;
    padding: auto;
    font-size: 100%;
  }
}

@media (min-width: 600px) {
  #tab-1 > .content > .content-1 > .like-heart-btn > .like-heart {
    flex: 3.5;
    padding: 3%;
    padding-top: 33%;
    width: 100%;
    height: auto;
  }
  /* p tag 글자 크기 조절*/
  #tab-1 > .content > .content-2 p {
    line-height: 1.6;
    padding: auto;
    font-size: 120%;
  }
  #tab-2 > .content > .content-2 p {
    line-height: 1.6;
    padding: auto;
    font-size: 120%;
  }
}
.tab-content.current .content :nth-child(2) p {
  all: unset;
  display: block;
  padding: 1%;
}
.tab-content.current .content :nth-child(2) > a > :nth-child(1) {
  font-size: 1em;
  font-weight: bold;
}
.tab-content.current .content :nth-child(2) > a > :nth-child(2) {
  font-size: 0.8em;
}
.tab-content.current .content :nth-child(2) > a > :nth-child(3) {
  font-size: 0.8em;
}
.tab-content.current .content :nth-child(2) > a > :nth-child(5) {
  font-size: 0.8em;
}
.tab-content.current .content :nth-child(2) div {
  display: block;
}
.tab-content.current .content :nth-child(2) div p {
  display: inline-block;
}
.tab-content.current .content :nth-child(2) .tab-1-c > :nth-child(1) {
  color: #ff0000;
  font-weight: bold;
}
.tab-content.current .content :nth-child(2) .tab-1-c > :nth-child(2) {
  font-weight: bold;
}
.tab-content.current .content :nth-child(2) .tab-2-c > :nth-child(1) {
  color: #ffc231;
  font-weight: bold;
}
.tab-content.current .content :nth-child(2) .tab-2-c > :nth-child(2) {
  color: #ffc231;
  font-weight: bold;
}
.tab-content.current .content :nth-child(2) .tab-2-c > :nth-child(3) {
  color: #dddddd;
  font-size: 70%;
}

/* 사진 모서리 */
.tab-content.current .content :nth-child(1) {
  border-radius: 10%;
  /* overflow: hidden; */
}
.tab-content.current .content :nth-child(1) > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* a tag 추가 */
#tab-1 > div > div:nth-child(1) > a {
  display: inline-block;
}
#tab-1 > div > div:nth-child(2) > a {
  display: inline-block;
}
#tab-2 > div > div:nth-child(1) > a {
  display: inline-block;
}
#tab-2 > div > div:nth-child(2) > a {
  display: inline-block;
}

/* heart 겹치기 */
#tab-1 > div > div:nth-child(1) {
  z-index: 1;
  position: relative;
}
#tab-1 > div > div:nth-child(1) > :nth-child(2) {
  z-index: 2;
  border: none;
  position: absolute;
  width: 20%;
  height: 20%;
  top: 2.5vh;
  right: 2.5vw;
  cursor: pointer;
  transition: all 0.3s;
  transform-origin: center;
}

@media (min-width: 1000px) {
  #tab-1 > div > div:nth-child(1) > :nth-child(2) {
    z-index: 2;
    border: none;
    position: absolute;
    width: 20%;
    height: 20%;
    top: 2.5vh;
    right: 1.5vw;
    cursor: pointer;
    transition: all 0.3s;
    transform-origin: center;
  }
}
@media (min-width: 1600px) {
  #tab-1 > div > div:nth-child(1) > :nth-child(2) {
    z-index: 2;
    border: none;
    position: absolute;
    width: 20%;
    height: 20%;
    top: 2.5vh;
    right: 1vw;
    cursor: pointer;
    transition: all 0.3s;
    transform-origin: center;
  }
}

.active > .like-heart {
  animation: animateHeart 0.3s linear forwards;
}

.like-heart .heart-fill {
  fill: white;
  opacity: 0;
}

.like-heart:hover .heart-fill {
  fill: white;
}

.like-heart .heart-outline {
  fill: black;
}

.active > .like-heart .heart-fill,
.active > .like-heart .heart-outline {
  fill: #ff3c49;
  opacity: 1;
}

.like-button-btn {
  display: inline-block;
  border: 2px solid #ff3c49;
  border-radius: 5px;
  background-color: white;
  font-size: 0;
}

.like-button {
  cursor: pointer;
  padding: 11px;
  width: 24px;
  transition: all 0.3s;
  transform-origin: center;
}

.like-button:hover {
  background-color: #ffeaeb;
}

.active > .like-button {
  animation: animateHeart 0.3s linear forwards;
}

.like-button .heart-fill {
  fill: white;
}

.like-button:hover .heart-fill {
  fill: #ffeaeb;
  transform: scale(1.2);
}
.active > .like-button:hover .heart-fill {
  transform: none;
}

.like-button .heart-outline {
  fill: #ff3c49;
}

.active > .like-button .heart-fill {
  fill: #ff3c49;
}

@keyframes animateHeart {
  0% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Bottom Menu Bar */
#bottom-menu {
  position: fixed;
  background-color: #fff;
  border-top: solid 2px #e1e1e1;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4rem;
  z-index: 999;
  display: flex;
  min-width: 320px;
  max-width: 680px;
  margin: 0 auto;
}
#bottom-menu a {
  text-decoration: none;
}
#bottom-menu a:link {
  text-decoration: none;
  color: black;
}
#bottom-menu a:visited {
  text-decoration: none;
  color: black;
}
#bottom-menu div {
  flex: 1;
  justify-content: center;
  align-self: center;
  text-align: center;
}
#bottom-menu div div {
  font-size: 55%;
  font-weight: bold;
}

/* Time Sale Menu */
#time-sale-menu .title {
  display: inline-block;
  width: 90%;
  padding: 3% 5% 0 5%;
}

#time-sale-menu .title .t1 {
  margin: 0;
  display: inline-block;
}

#time-sale-menu .title .t1 {
  float: left;
}
/* #time-sale-menu .title .t2 {
  float: right;
} */
#time-sale-menu .title .t1 {
  font-size: 70%;
}
#time-sale-menu .title .t2 {
  font-size: 90%;
}

#time-sale-menu .tab-content {
  display: none;
}

#time-sale-menu .content {
  display: flex;
  width: 100%;
}
#time-sale-menu .content :nth-child(1) {
  flex: 2;
  padding: 3%;
  width: 100%;
  height: auto;
}
#time-sale-menu .content :nth-child(2) {
  flex: 3.5;
  padding: 3%;
  width: 100%;
  height: 100%;
}
#time-sale-menu .content :nth-child(2) p {
  all: unset;
  display: block;
  padding: 1%;
}
#time-sale-menu .content :nth-child(2) > :nth-child(1) {
  font-size: 80%;
  font-weight: bold;
}
#time-sale-menu .content :nth-child(2) > :nth-child(2) {
  font-size: 50%;
}
#time-sale-menu .content :nth-child(2) > :nth-child(3) {
  font-size: 50%;
}
#time-sale-menu .content :nth-child(2) > :nth-child(5) {
  font-size: 50%;
}

#time-sale-menu .content :nth-child(2) div {
  display: block;
}
#time-sale-menu .content :nth-child(2) div p {
  display: inline-block;
}
#time-sale-menu .content :nth-child(2) .tab-1-c > :nth-child(1) {
  color: #ff0000;
  font-weight: bold;
}
#time-sale-menu .content :nth-child(2) .tab-1-c > :nth-child(2) {
  font-weight: bold;
}
#time-sale-menu .content :nth-child(2) .tab-2-c > :nth-child(1) {
  color: #ffc231;
  font-weight: bold;
}
#time-sale-menu .content :nth-child(2) .tab-2-c > :nth-child(2) {
  color: #ffc231;
  font-weight: bold;
}
#time-sale-menu .content :nth-child(2) .tab-2-c > :nth-child(3) {
  color: #dddddd;
  font-size: 70%;
}

/* time sale content2 p tag 크기 */
@media (min-width: 375px) {
  #time-sale-menu > .TS-content .content .content-2 p {
    line-height: 1.5;
    padding: auto;
    font-size: 90%;
  }
}
@media (min-width: 475px) {
  #time-sale-menu > .TS-content .content .content-2 p {
    line-height: 1.6;
    padding: auto;
    font-size: 100%;
  }
}
@media (min-width: 600px) {
  /* p tag 글자 크기 조절*/
  #time-sale-menu > .TS-content .content .content-2 {
    padding-top: 5%;
  }
  #time-sale-menu > .TS-content .content .content-2 p {
    line-height: 1.7;
    padding: auto;
    font-size: 120%;
  }
}

/* Drop Down */
.dropbtn {
  color: black;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: flex;
}
.dropbtn p {
  margin: 0;
}

/* .dropbtn:hover,
.dropbtn:focus {
  background-color: #3e8e41;
} */

.dropdown {
  float: right;
  position: relative;
  display: inline-block;
}
.dropdown button {
  all: unset;
  display: flex;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  right: 0;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/* 사진 모서리 */
#time-sale-menu > .TS-content .content :nth-child(1) {
  border-radius: 10%;
  /* overflow: hidden; tab-1-c 줄 안 맞음 */
}
#time-sale-menu > .TS-content .content :nth-child(1) > img {
  /* width: 100%;
  height: 100%; */
  object-fit: cover;
}

/* Search Page */
#recent-searches .title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
#recent-searches .title > :nth-child(1) {
  display: inline-block;
  margin: 0;
  padding: 3%;
  font-size: 80%;
  color: #777777;
}
#recent-searches .title > :nth-child(2) {
  display: inline-block;
  margin: 0;
  padding: 3%;
  font-size: 70%;
  color: #777777;
}
#recent-searches .content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
#recent-searches .content > :nth-child(1) {
  display: inline-block;
  margin: 0;
  padding: 3%;
}
#recent-searches .content > :nth-child(2) {
  display: inline-block;
  margin: 0;
  padding: 3%;
}

/* Search Page */
#banner {
  background-color: #c4c4c4;
  width: 100%;
  min-height: 180px;
}
#banner > img:nth-child(1) {
  float: left;
}
#banner > img:nth-child(2) {
  float: right;
}

/* map content */
#map {
  width: 100%;
  height: auto;
  min-height: 300px;
}
