/* --Region Selection Page-- */

#wrap {
  width: 100%;
  height: 100%;
  min-height: 500px;
  /* 320px */
  margin: 0 auto;
  margin-bottom: 5rem;
  /* border: 4px solid #000; */
}
body {
  min-width: 320px;
  max-width: 680px;
  min-height: 100%;
  margin: 0 auto;
  padding: 15px 15px 60px 15px;
}
a {
  text-decoration: none;
}
a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}

/* toolbar */
#toolbar {
  background: white;
  width: 100%;
  height: 50px;
  display: flex;
  border-bottom: solid 2px #e1e1e1;
}
#toolbar div {
  flex: 1;
  margin-bottom: 0px;
  display: inline;
}
#toolbar .TS-close-1 {
  min-width: 24px;
  min-height: 24px;
  transform: translate(0%, 25%);
}
#toolbar .TS-close-2 {
  min-width: 24px;
  min-height: 24px;
  font-size: 80%;
  text-align: center;
  transform: translate(0%, 30%);
  font-weight: bold;
}

/* content */
.content {
  border-bottom: 10px solid #eeeeee;
}
.first .content-1 {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #eeeeee;
  font-size: 130%;
  padding: 3% 5%;
}
.first .content-2 {
  text-align: center;
  padding: 3% 0;
  line-height: 2;
  color: #00d1c4;
}

.content-1 {
  font-weight: bold;
  padding: 3%;
}
.second .content-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.second input {
  visibility: hidden;
}
.black {
  color: black;
  border: 2px solid black;
}
.second > .content-2 > span > .form-chek,
.second > .content-2 > span > .form-radio {
  display: inline-block;
  vertical-align: middle;
}
.second > .content-2 > span > .form-chek::before,
.second > .content-2 > span > .form-radio::before {
  display: none;
}
.second > .content-2 > span > .form-radio::before {
  border-radius: 50%;
}
.second > .content-2 > span > .input-chek,
.second > .content-2 > span > .input-radio {
  display: none;
}
.second > .content-2 > span > .input-chek:checked + .form-chek::before,
.second > .content-2 > span > .input-radio:checked + .form-radio::before {
  background: black;
}
.second > .content-2 > span > .input-chek:checked + .form-chek,
.second > .content-2 > span > .input-radio:checked + .form-radio {
  text-align: center;
  color: black;
  border: 2px solid black;
}
.second > .content-2 > span > label {
  width: 90%;
  text-align: center;
  border: 2px solid #dddddd;
  color: #dddddd;
  font-weight: bolder;
  padding: 3% 0;
  margin-bottom: 15%;
  min-width: 100px;
  min-height: 35px;
  border-radius: 0.5em;
}
.second > .content-2 > span > label > div {
  margin-top: 5%;
}
.third .content-2 {
  display: flex;
  width: 100%;
}
.third .content-2 > input {
  flex: 1;
  margin: 0 5% 5% 5%;
  min-height: 45px;
  border-radius: 0.5em;
  border: 1px solid #cccccc;
}
.third .content-2 > textarea {
  flex: 1;
  margin: 0 5% 5% 5%;
  min-height: 75px;
  border-radius: 0.5em;
  border: 1px solid #cccccc;
}
.fourth .content-2 {
  display: flex;
  justify-content: space-between;
  padding: 1% 3% 2% 3%;
}
.fourth .content-3 {
  display: flex;
  justify-content: space-between;
  padding: 2% 3% 2% 3%;
}
.fifth {
  padding-bottom: 10rem;
}
.fifth .content-2 .payment-method {
  display: flex;
  padding: 1% 3%;
}
.fifth .content-2 > span > label > div {
  padding: 0 5%;
  min-width: 150px;
}

/* Bottom Menu Bar */
#order-menu {
  position: fixed;
  background-color: #fff;
  border-top: solid 2px #e1e1e1;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4rem;
  z-index: 999;
  display: flex;
  min-width: 320px;
  max-width: 680px;
  margin: 0 auto;
}
/* #order-menu a {
  text-decoration: none;
}
#order-menu a:link {
  color: black;
  text-decoration: none;
}
#order-menu a:visited {
  color: black;
  text-decoration: none;
} */
#order-menu button {
  width: 80%;
  min-height: 45px;
  margin: 0 10%;
  align-self: center;
  text-align: center;
  color: white;
  background-color: black;
  border-radius: 0.5em;
}
