/* --Region Selection Page-- */

#wrap {
  width: 100%;
  height: 100%;
  min-height: 500px;
  /* 320px */
  margin: 0 auto;
  margin-bottom: 5rem;
  /* border: 4px solid #000; */
}
body {
  min-width: 320px;
  max-width: 680px;
  min-height: 100%;
  margin: 0 auto;
  padding: 15px 15px 60px 15px;
}
a {
  text-decoration: none;
}
a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}

/* toolbar */
#toolbar {
  background: white;
  width: 100%;
  height: 50px;
  display: flex;
}
#toolbar div {
  flex: 1;
  margin-bottom: 0px;
  display: inline;
}
#toolbar .TS-close-1 {
  min-width: 24px;
  min-height: 24px;
  transform: translate(0%, 25%);
}
#toolbar .TS-close-2 {
  min-width: 24px;
  min-height: 24px;
  text-align: center;
  transform: translate(0%, 10%);
  flex: 3;
  font-size: 140%;
  font-weight: bold;
}
#toolbar .TS-close-2 > span {
  font-size: 130%;
}

@media (min-width: 760px) {
  /* Galaxy Fold */
  #SU-content .certification-button {
    height: 25px;
  }
}

.allWrap {
  width: 100%;
  margin: 0 auto;
}
.tabBox {
  margin: 0 auto;
  display: flex;
}
.tab-link {
  width: 50%;
  display: inline-block;
  padding: 3%;
  text-align: center;
  background-color: transparent;
  color: #eeeeee;
  cursor: pointer;
  margin: 0;
  border-bottom: solid 3px #e1e1e1;
}
.tab-link.current {
  background-color: transparent;
  color: #00d1c4;
  font-weight: 600;
  border-bottom: solid 3px #00d1c4;
}
.tab-content {
  display: none;
}
.tab-content.current {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 130px;
  margin-bottom: 3%;
}
.tab-content.current .content a {
  display: flex;
  width: 100%;
  padding-bottom: 1%;
  border-bottom: 1px solid #EEEEEE;
}
.tab-content.current .content a > :nth-child(1) {
  flex: 15;
  padding: 1%;
  height: auto;
}
.tab-content.current .content a > :nth-child(2) {
  flex: 1;
  padding: 1%;
  height: auto;
}
.tab-content.current .content a > :nth-child(2) > img{
  margin-top: 40px;
}
/* No Order */
.no-order {
  width: 100%;
  height: auto;
  min-height: 300px;
  line-height: 200%;
  text-align: center;
  position: relative;
}
.no-order > div {
  position: absolute;
  top: 40%;
  width: 80%;
  margin: 0 10%;
}
.no-order > div > div {
  color: gray;
}
.last-order{
  border: 1px solid gray;
  margin: 0 20%;
  padding: 0.5% 0;
  border-radius: 1em;
}
/* content title */
.content-title {
  padding: 3% 2% 2% 2%;
  font-size: 160%;
  font-weight: bold;
  display: flex;
}
.content-title > div {
  color: #FF0000;
  font-size: 60%;
  font-weight: bold;
  padding: 1% 5%;
}
.FF5432{
  color: #FF5432;
}
.content-title2 {
  padding: 0 1% 0 1%;
}
/* order complete*/



/* Bottom Menu Bar */
#bottom-menu {
  position: fixed;
  background-color: #fff;
  border-top: solid 2px #e1e1e1;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4rem;
  z-index: 999;
  display: flex;
  min-width: 320px;
  max-width: 680px;
  margin: 0 auto;
}
#bottom-menu a {
  text-decoration: none;
}
#bottom-menu a:link {
  text-decoration: none;
  color: black;
}
#bottom-menu a:visited {
  text-decoration: none;
  color: black;
}
#bottom-menu div {
  flex: 1;
  justify-content: center;
  align-self: center;
  text-align: center;
}
#bottom-menu div div {
  font-size: 55%;
  font-weight: bold;
}